# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.EjerciciosASP.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Ian\Downloads\EjerciciosASP\.idea\.idea.EjerciciosASP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
